/* ================ GLOBAL ============== */
:root {
    --dark-blue: #363f5f;
    --bg:  #f0f2f5;
    --card: #FFFFFF;
    --head: #363f5f;
    --card-content: #000000;
    --green: #49AA26;
    --light-green: #3dd705;
    --red: #e92929;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75% /* 15px */
}

body {
    background: var(--bg);
    font-family: 'Poppins', sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
    
}

/* ================ TITLES ============== */

h2 {
    margin-top: 3.2rem; 
    margin-bottom: 0.8rem;
    color: var(--head);
    font-weight: 600;
}

a {
    color:  #04D361;
}

/* ================ LINKS & BUTTONS ============== */

a {
    color: var(--green);
    text-decoration: none;

}

a:hover {
    color: var(--light-green);
}

button {
    width: 100%;
    height: 50px;

    border: none;

    color: white;
    background: var(--green);

    padding: 0;
    border-radius: 0.25rem;

    cursor: pointer;
}

button:hover {
    background: var(--light-green);
}

.button.new {
    margin-bottom: .8rem;
    display: inline-block

}

.button.cancel {
    color: var(--red);
    border: 2px var(--red) solid;
    border-radius: 0.25rem;
    
    height: 50px;

    display:flex;
    align-items: center;
    justify-content: center;

    opacity: 0.6;
}

.button.cancel:hover {
    opacity: 1;
}

/* ================ HEADER ============== */

header {
    background: #5B479C;
    padding: 2rem 0 10rem;
    text-align: center;
}

#logo {
    color: #FFF;
    font-weight: 800;
}

/* ========= BUTTON DARK MODE ========== */

input[type="checkbox"]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
    top: 5px;
    right: 15px;
}

label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background-color: #0077FF;
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}

/* ================ BALANCE ============== */
#balance {
    margin-top: -8rem;
}

#balance h2 {
    color:white;
    margin-top: 0;
}
/* ================ CARDS ============== */

.card {
    background: var(--card);
    padding: 1.5rem 2rem;
    border-radius: 1rem;

    margin-bottom: 2rem;
    color: var(--head);
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top:1rem;
}

.card.total {
    background: #04D361;
    color: white;
}

/* ================ TABLE ============== */
#transaction {
    display: block;
    width: 100%;
    overflow-x: auto;


}

#data-table { 
    width: 100%;
    border-spacing: 0 0.5rem;
    color: #7964EF;
}

table thead tr th:first-child,
table tbody tr td:first-child{
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child{
    border-radius: 0 0.25rem 0.25rem 0;
 }

table thead th {
    background: var(--card);
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
    
}

td.date {
    color: #969cb3;
    font-weight: normal;

}


table tbody tr {
    opacity: 0.7;
}

table tbody tr:hover {
    opacity: 1
}

table tbody td {
    background: var(--card);
    
    padding: 1rem 2rem;
}

td.description {
    color: #7964EF;
}

td.income {
    color: #12a454;
}

td.expense {
    color: var(--red);
}
/* ================ MODAL ============== */

.modal-overlay {
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;

    display:flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;  

    z-index: 999;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: #F0F2f5;
    padding: 2.4rem;
    width: 90%;
    max-width: 500px;

    position: relative;
    z-index: 1;
}

/* ================ FORM ============== */

#form {
    max-width: 500px;
}

#form h2{
    margin-top: 0;
}

input {
    border: none;
    border-radius: 0.2rem;

    padding: 0.8rem;

    width: 100%;
}

.input-group {
    margin-top: 0.8rem;
}

.input-group small {
    opacity: 0.4;
}

.input-group.actions {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
}

/* ================ FOOTER ============== */

footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--head);
    opacity: 0.6;
}

/* ================ RESPONSIVE ============== */

@media (min-width: 800px) {
    html {
        font-size: 87.5%; /* 14px */
    }
    
    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}